@import "tailwindcss";

@theme inline {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Hide Next.js Development Indicator */
nextjs-portal {
  display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
